.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border 0.24s ease-in-out;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone.active {
  border-color: #ff3276;
}

.previewImage {
  max-width: 100%;
  margin-top: 10px;
  object-fit: cover;
}
